
@font-face {
    font-family: Logo;
    src: url(coolveticarg.ttf);
}

body {
  margin: 0;
}

#background {
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-image: url(../image/backgroundimage.jpg);
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-size:cover;
  z-index:1;
}
#background_installation {
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-image: url(../image/backgroundinstallation.jpg);
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-size:cover;
    z-index:1;
}


  hr.style-five {
    margin-top: 50px;
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 2px 1px white;
    margin-right: 30px;
    margin-left: 30px;
}
.content{
	position:relative;
	z-index:2;

}
#logo img{

    float:left;
    margin-left: 30px;
    margin-top: 10px;
    height: 90px;
    width: 230px;

}

#millieu {
    margin: 0 auto;
    width: 400px;

}
.entete {
  padding-top: 50px;
  padding-left: 70px;
  text-align: center;
  transform: rotate(10deg);
}

.entete p{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.entete_installation {
  padding-top: 50px;
  padding-left: 70px;
  text-align: center;
}

.entete_installation p{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}


.ulNavBar {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
}

.ulNavBar li{
    Float: right;
    margin-top: 20px;
  }

.ulNavBar a{
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 900;
    color: white;
    text-decoration: none;
    padding: 10px;
    }

.ulNavBar a:hover {
  transform: translatey(10px);
  transition: all 0.25s linear;
}

.button {
    display: block;
    border-radius: 4px;
    background-color: transparent;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 20px;
    margin-top: 10px;
   }

   .wrapper {
      display: block;
      float: left;
      margin-left: 20px;
   }

    .wrapper p {
      transition: all 1s ;
    }

    .hidden {
      opacity: 0;
    }

    .nothidden {
      opacity: 1;
    }
   #paragraphe1id {
     color: white;
     margin-left: 30px;
   }
   #paragraphe2id {
     color: white;
     margin-left: 30px;
   }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.etapes {
  padding-top: 20px;
  color: white;
  font-size: 60px;
  margin-left: 30px;
}
img {
  margin-left: 50px;
}
.petapes {
  font-size: 32px;
  color: white;
  margin-left: 50px;
}

#resize {
  padding-top: 20px;
  height: 600px;
  width: 900px;
}

#lienGit {
  width: 100%;
  color: white;
  font-size: 60px;
  margin-left: 50px;
  margin-top: 20px;
  text-align: left;
  float: left;
}

#millieuecran {
  width: 50%;
  margin: 0 auto;

}


.slideanim {
  visibility:hidden;
  visibility:visible\9;
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}